{% extends "layout.html" %}
{% block head %}
    <script>
        $(document).ready( function() {
            

        });
    </script>

{% endblock %}

{% block content %}

    <section class="splash-screen load">
        <div class="buttons grey-with-red">
            <a class="purple-with-blue">Push start button</a>
            <a href="/">[Home]</a>
            <a href="/new">[Add Match]</a>
            <a href="/stats">[Stats]</a>
        </div>

        <div class="bottom">
        <div class="credit grey-with-red">Credit <span class="yellow-with-darkyellow">1</span></div>
        </div>
    </section>


{% endblock %}